<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-edit-plist-file"
    version="0.0.3">
    
    <name>Edit Plist file</name>
    
    <description>
        Modification of plist for alternative icons
    </description>

    <author>John Salamat</author>

    <keywords>cordova,whitelist,ios9,ecosystem:cordova,ordova-ios</keywords>
    
    <license>MIT</license>
    
    <engines>
        <!-- Requires > 3.3.* because of the custom Framework tag for iOS [CB-5238] -->
        <!-- Requires > 3.5.0 because of the custom Framework tag for Android [CB-6698] -->
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    
    
    
    <!-- ios -->
<platform name="ios">
    <config-file target="*-Info.plist" parent="CFBundleIcons">
      <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
          <!-- Private icon configuration -->
          <key>private</key>
          <dict>
            <key>UIPrerenderedIcon</key>
            <true/>
            <key>CFBundleIconFiles</key>
            <array>
              <string>C-26-120</string> <!-- For iPhone (120x120) -->
              <string>C-26-152</string> <!-- For iPad Pro (167x167) -->
              <string>C-26-167</string> <!-- For iPad (152x152) -->
            </array>
          </dict>
          <!-- Retro icon configuration -->
          <key>retro</key>
          <dict>
            <key>UIPrerenderedIcon</key>
            <true/>
            <key>CFBundleIconFiles</key>
            <array>
              <string>C-30-120x</string>
              <string>C-30-152</string>
              <string>C-30-167</string>
            </array>
          </dict>
          <!-- Classic icon configuration -->
          <key>classic</key>
          <dict>
            <key>UIPrerenderedIcon</key>
            <true/>
            <key>CFBundleIconFiles</key>
            <array>
              <string>C-25-120</string>
              <string>C-25-152</string>
              <string>C-25-167</string>
            </array>
          </dict>
        </dict>
      </dict>
    </config-file>
    </platform>
    
</plugin>
